.slide1::before {
    content: "";
    background: url(../images/img1.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slide2::before {
    content: "";
    background: url(../images/img2.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slide3::before {
    content: "";
    background: url(../images/img3.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main_logo {
    height: 80px;
}

@media (max-width: 767px) {
    .main_logo {
        height: 40px;
    }
}